* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}


h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

.table_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

table {
    border-spacing: 0;
}

.mine {
    width: 40px;
    height: 40px;
    text-align: center;
    background: rgb(139, 139, 139);
    color: rgb(139, 139, 139);

    border-bottom: 4px solid rgb(92, 92, 92);
    border-right: 4px solid rgb(92, 92, 92);
    border-top: 4px solid rgb(156, 155, 155);
    border-left: 4px solid rgb(156, 155, 155);

    cursor: pointer;
}

.mine:active {
    border-top: 4px solid rgb(92, 92, 92);
    border-left: 4px solid rgb(92, 92, 92);
    border-bottom: 4px solid rgb(156, 155, 155);
    border-right: 4px solid rgb(156, 155, 155);
    background: #7a7a7a;
    color: #7a7a7a;
}

button {
    font-size: 1.5rem;
}

.settingsDiv {
    margin-right: 30px;
}

.settingsP {
    font-size: 1.5rem;
}

.settingsInput {
    width: 60px; 
    text-align: center;
}